input, textarea {
    margin-top: 10px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    background-color: #FF9F45;
    border: 1px solid #FF9F45;
    color: white;
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
    color: white;
    background-color: #FF9F45  !important;
}

@media (min-width: 768px) {  
    .image {
        margin-top: 10vh;
    }
}

@media (max-width: 767px) { 
    .image {
        display: flex;
        justify-content: center;
    }
}