#loginBox{
    max-width:700px;
}
.logintxt{
    color:orange ;
    margin-left:295px;
    margin-top:50px;
    font-size: 40px;
    font-family: Arial,serif;
    
}
.emps{
    
    width:50%; 
    border-radius:10px; 
    margin-left:200px
}

.submit{
    margin-left:320px;
    color:white;
    background-color:orange;
    border:none;
    margin-bottom: 10px;
    cursor:pointer;
    font-size: 15px;
}

.Newuser{
    font-size:14px;
   margin-left: 270px;
   padding:20px;      
}
#signupLink{
    color:orange;
    cursor:pointer;
}
.emps.a{
    margin-left: 240px;
    
    
}
